.App {
  display:flex;
  flex-direction: column;

  background-color: #282c34;
  text-align: center;

  font-size: calc(10px + 2vmin);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.linkContainer {
  background-color: #e6e6e6;

  padding: 10px;
  margin-bottom: 10px;

  border-radius: 10px;

  height: 50px;
  width: 300px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

.linkContainer > a {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.facebook > a:visited {
  color: #1877f2;
}

.instagram > a:visited {
  color: #de1174;
}

.siteLogo {
  height: 30px;
  padding-right: 20px;
}