.App {
  background-color: #282c34;
  text-align: center;

  font-size: calc(10px + 2vmin);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.facebookButton {
  height: 50px;
  
  display: flex;
  align-items: center;

  cursor: pointer;

  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #1877f2;

}

.facebookLogo {
  height: 30px;
  padding-right: 20px;
}